# Laravel
/vendor
/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/*.pem
/storage/app/public
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*
.env
.env.*  # .env.local なども含む

# Docker（MySQLなど機密データ）
docker/mysql/data/
docker/mysql/*.pem
*.pem
*.key

# Composer
composer.lock

# NPM/Yarn
package-lock.json
yarn.lock

# IDEs
.idea/
.vscode/
*.swp

# OS
.DS_Store
Thumbs.db
temp-check/
